a {text-decoration: none;}
.resize {margin: 0 30px;}
.hot_line {border-bottom: 1px solid rgb(239 239 239 / 15%);}
.setHeight {height :100%;}
.openMenu {display: block;}
.quickNav {display: none;}
.login_text {display: block;}
.sMargin {margin-top: 70px;}
.layouts-bottom {padding-bottom: 150px!important;}
.Promotion{background: #fafafc; padding: 30px 0 110px;}
.PromotionTitle{width: 100%; text-align: center; padding: 80px 0 40px;}
.PromotionTitle span {color:#1f8bca}
.PromotionTitle p {margin-top: 10px;}
#tagetSet .v-timeline-item__dot{position: relative; left: 0;}
#tagetSet .v-timeline-item__dot::before{content: '';width: 10px;height: 10px;top: 7px;left: 7px;background: #fafafc;position: absolute;border-radius: 50%;}
.shadow .v-timeline-item__dot{box-shadow: 0 0 24px rgb(0 196 115 / 60%);}
.shadowNo .v-timeline-item__dot{box-shadow: none; }
.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot{box-shadow: none!important;}
.qnaSet .v-text-field__details{display: none;}
.theme--light.v-text-field--solo > .v-input__control > .v-input__slot {background: #fff!important; border: 1px solid #c7c7c7; border-radius: 0;}
.logo .v-image__image{background-position: unset!important;}
.foBg {background: #f4f5fa;}
.foBg2 {background: #f4f5fa;}
.minHeight {height: 100vh;}
.v-navigation-drawer__border {display: none}
.vCardLoginBg {width: 100%; box-shadow: 0 2px 10px 0 rgb(94 86 105 / 10%); background: #fff; border-radius: 10px; padding: 48px 36px 28px;}
.content-center {display: flex; min-height: 100vh; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; padding: 1.25rem;}
.content-center2 {display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; padding: 1.25rem;}
.vCardBg {box-shadow: 0 2px 10px 0 rgb(94 86 105 / 10%); background: #fff; border-radius: 10px;padding: 20px;}
.vCardPt { box-shadow: 0 2px 10px 0 rgb(94 86 105 / 10%); background: url('/images/boxpatt.png') #fff; background-position: center center; border-radius: 10px; padding: 20px; }
.fontWeight-600 {font-weight: 600;}
.maxWidth-180 {max-width: 180px!important;}
.maxWidth-250 {max-width: 250px!important;}
.bottom-padding-0 {padding-bottom: 0!important;}
.top-padding-0 {padding-top: 0!important;}
.left-padding-0 {padding-left: 0!important;}
.right-padding-0 {padding-right: 0!important;}
.bottom-margin-16 {margin-bottom: 16px!important;}
.bottom-margin-40 {margin-bottom: 40px!important;}
.bottom-margin-0 {margin-bottom: 0!important;}
.top-margin-10 {margin-top: 10px!important;}
.top-margin-0 {margin-top: 0!important;}
.left-margin-0 {margin-left: 0!important;}
.right-margin-0 {margin-right: 0!important;}
.setting-padding-lr {padding: 0 16px;}
.setting-padding-lr-10 {padding: 0 10px;}
.setting-padding-lr-40 {padding: 0 40px;}
.setting-margin-tb {margin: 30px 0 14px;}
.setting-margin-lr {margin: 0 18px!important;}
.setting-margin-r {margin-right: 18px!important;}
.height100vh {height: 100vh;}
.tableset td{padding: 16px 16px!important;}
.iconMa {margin-top: -6px; margin-right: 6px; color: #7a7a7a}
.iconMa2 {margin-top: -2px; margin-right: 10px; color: #fff!important}
.iconMa3 {margin-top: -2px;}
.excelbtn {background: #fff!important; padding: 20px 10px 20px 12px !important;margin-right: 20px; border: 1px solid #e7e7e7;}
.writebtn {background: #fff!important; padding: 20px 10px 20px 12px !important;margin-right: 5px; border: 1px solid #e7e7e7;}
.font-type1 {font-size: .875rem; font-weight: 400; line-height: 1.5; letter-spacing: .0071428571em;}
.font-type2 {font-weight: 600;}
.font-type3 {font-weight: 600;color: rgba(94,86,105,.87)!important;font-size: 1.25rem!important;    line-height: 1.75rem!important;}
.font-type4 {font-weight: 400;color: rgba(94,86,105,.87)!important;font-size: 1.25rem!important;    line-height: 1.75rem!important;}
.titleSpan {font-size: 14px;margin-left: 10px; color: #6f6f6f;}
.typeColor {color: rgba(94,86,105,.68)!important;}
.typeColor2 {color: rgba(94,86,105,.87)!important;}
.mypageBg{background: #eff2f6;}
.columLine-right {border-right: 1px solid #eff2f6;}
.columLine-bottom {border-bottom: 1px solid #eff2f6;}
.columLine-top {border-top: 1px solid #eff2f6;}
.bmt {margin-top: 1px;}

@media (min-width: 605px){
  .sMargin {margin-top: 70px;}
  .PromotionTitle {padding: 80px 0 40px;}
  .quickNav {display: none;}
  .openMenu {display: block;}
  .login_text {display: block;}
  .v-btn--fab.v-size--default {transition: all 1s;}
}
@media (max-width: 960px){
  .v-text-field__details {display: none!important;}
  .v-messages {display: none!important;}
  .v-input--radio-group.v-input--radio-group--row .v-radio {height: 40px;}
  .sMargin {margin-top: 10px;}
  .PromotionTitle {padding: 30px 30px 20px;}
  .quickNav {display: block; width: 100%; text-align: right; }
  .openMenu {display: none;}
  .login_text {display: none;}
  .excelbtn {display: none!important;}
  .v-btn--fab.v-size--default {height: 36px!important; width: 36px!important; transition: all 1s;}
}
.theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr:last-child > th {
  color: rgba(94,86,105,.87)!important;
    border-top: thin solid rgba(94,86,105,.14)!important;
font-weight: 600!important;
    background-color: #fafafa!important;
}
.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:not(:last-child) > td:not(.v-data-table__mobile-row), .theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:not(:last-child) > th:not(.v-data-table__mobile-row) {
  border-bottom : thin solid rgba(94, 86, 105, 0.14)!important;
transition: height 0.2s cubic-bezier(0.4, 0, 0.6, 1) 0s!important;

font-size: 0.875rem!important;
    height: 3.125rem!important;
}
.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: rgba(94, 86, 105, 0.04)!important;
}
.v-data-table > .v-data-table__wrapper > table > tbody > tr > td, .v-data-table > .v-data-table__wrapper > table > thead > tr > td, .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td {
  color: rgba(94,86,105,.68)!important;
}
.tables {
  color: #4397c9;
    font-weight: 600!important;
}
